* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body, .body {
	height: 100%;
}

body {
	@include background-image(
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.85), rgba(238, 211, 164, 0.85), rgba(172, 151, 116, 0.85)), url(/images/squairy_light_@2X.png)
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.93), rgba(238, 211, 164, 0.93), rgba(172, 151, 116, 0.93)), url(/images/tweed3.png)
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.88), rgba(238, 211, 164, 0.88), rgba(172, 151, 116, 0.88)), url(/images/tweed2.png)
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.88), rgba(238, 211, 164, 0.88), rgba(172, 151, 116, 0.88)), url(/images/bgnoise_lg_dark.png)
		radial-gradient(ellipse at 0 0, rgba(162, 138, 90, 0.88), rgba(116, 98, 56, 0.88), rgba(87, 79, 63, 0.88)), url(/images/bgnoise_lg_dark.png)
	);
}

table {
	width: 100%;

	thead {
		border-bottom: 2px solid #DDD;
	}

	th {
		padding: 0.7em;
		font-weight: 300;
	}
}

p {
	margin: 0;
}

.fa {
	text-align: center;
}

.button {
	padding: 0.8em 1.4em;
	.fa {
		margin-right: 0.5em;
	}
}
