* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	@include background-image(
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.85), rgba(238, 211, 164, 0.85), rgba(172, 151, 116, 0.85)), url(/images/squairy_light_@2X.png)
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.93), rgba(238, 211, 164, 0.93), rgba(172, 151, 116, 0.93)), url(/images/tweed3.png)
		//radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.88), rgba(238, 211, 164, 0.88), rgba(172, 151, 116, 0.88)), url(/images/tweed2.png)
		radial-gradient(ellipse at 0 0, rgba(241, 228, 180, 0.88), rgba(238, 211, 164, 0.88), rgba(172, 151, 116, 0.88)), url(/images/bgnoise_lg_dark.png)
	);
}

table {
	width: 100%;

	thead {
		border-bottom: 2px solid #DDD;
	}

	th {
		padding: 0.7em;
		font-weight: 300;
	}
}

@mixin sidenav(
	$base-font-size: 13em/16,
	$text-color: gray,
	$bg-color: white, //rgba(51, 51, 51, 0.4)
	$hover-bg-color: #F5F5F5,// rgba(51, 51, 51, 0.3)
	$active-border-color: #76D3FF, // white
	$sidenav-width: 14em,
	$sidenav-margin: 1.5em
) {
	.top-bar {
		background: none;
	}

	%box {
		border-radius: 1px;
		background-color: $bg-color;
		box-shadow: 0px 0px 5px -2px black;
		color: $text-color;
	}

	.sidenav {
		@extend %box;
		margin: 0;
		padding: 0.4em 0;
		font-size: $base-font-size;

		ul, li, a {
			font-size: inherit;
		}

		li {
			list-style: none;
			&.active > a {
				border-left: 0.3em solid $active-border-color;
				background-color: $hover-bg-color;
			}
		}

		a {
			@include transition(background-color 0.2s);
			display: block;
			padding: 0.7em 1.7em;
			color: inherit;
			line-height: 1.5em;
			&:hover {
				background-color: $hover-bg-color;
			}
			i.fa {
				float: right;
				font-size: 1.2em;
				line-height: inherit;
			}
		}

		// subnav
		// > li > ul
		.subnav {
			margin-left: 0.3em;
			a {
				padding: 0.4em;
				padding-left: 2em;
				&:before {
					@extend .fa-angle-double-right:before;
					@extend .fa;
					padding-right: 0.5em;
					vertical-align: top;
					font-size: 1.4em;
				}
			}
		}
	}

	.content {
		padding: 1em 0;
		color: $text-color;
		font-size: $base-font-size;

		.box {
			@extend %box;
			padding: 1.4em;
		}

		.budget {
			@extend %box;
			display:inline-block;
			margin-top:1em;
			padding: 1.4em;
			width:100%;

			.circle-left {
				position:absolute;
				right:2.9em;
				margin-top:.75em;
				padding:.25em;
				width:3.5em;
				height:3.5em;
				background-color:white;
				h5 {
					color:red;
				}
			}
			.circle-total {
				position:absolute;
				margin-top:.75em;
				padding:.25em;
				width:3.5em;
				height:3.5em;
				background-color:white;
				h5 {
					color:green;
				}
			}

			.circle {
				width:3em;
				height:3em;
				border:1px solid lightgrey;
				border-radius:1.5em;

				line-height:3em;
			}

			h5 {
				text-align:center;
				font-weight:bold;
				font-size:1.2em;
				line-height:2em;
			}
			hr {
				border-width:1em;
				border-color:green;
			}
		}
	}

	@media only screen and (min-width: 700px) {
		.top-bar {
			padding: 15px 0;
			height: auto;
			.name h1 a {
				padding-left: 60px;
			}
		}
		.sidenav {
			position: absolute;
			margin-left: $sidenav-margin;
			width: 14em;
		}
		.content {
			margin-left: $sidenav-width + $sidenav-margin;
			padding: 0 $sidenav-margin;
		}
	}
}
@include sidenav;
