<template name="home">
	{{> header}}
	<ul class="sidenav">
		<li class="active">
			<a href="/app"><i class="fa fa-credit-card"></i>Accounts</a>
			<ul class="subnav">
				<li>
					<a href="/expense">Expenses</a>
				</li>
				<li>
					<a href="#">Savings</a>
				</li>
                                <!--
				<li>
					<a class="add">Add an account</a>
				</li>
                                -->
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fa-cog"></i>Settings</a>
		</li>
		<li>
			<a id = "logout" href ="http://moneyinthebank.meteor.com/"><i class="fa fa-sign-out"></i>Logout</a>
		</li>
	</ul>
	<div class="content">
		{{>cardExpenses}}
		{{>cardBudget}}
	</div>
        {{> modalContainer}}
</template>

<template name="cardExpenses">
	<div class="card-expenses">
		<div class="button tiny income"><i class="fa fa-plus"></i>Income</div>
		<div class="button tiny expense"><i class="fa fa-minus"></i>Expense</div>
		<table>
			<thead>
				<tr>
					<th>Date</th>
                                        <th>Source</th>
					<th>Info</th>
					<th>Cost</th>
				</tr>
			</thead>
                        {{#each transacs}}
                            <tr>
                                {{> transRow}}
                            </tr>
                        {{/each}}
		</table>
	</div>
</template>

<template name="transRow">
<th>{{date}}</th>
<th>{{category}}</th>
<th>{{description}}</th>
<th class="{{#if expenseBool}}red{{else}}green{{/if}}"><b>{{value}}</b></th>
</template>

<template name="cardBudget">
	<div class="card-budget-test">
		<h4>Budget</h4>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
					Food
				</span>
				<span class="budget">
                                    ${{foodSpent}}/${{foodBudg}}
				</span>
			</div>
			<div class="progress round">
                            <span class="meter" style="width: {{foodPerc}}%"></span>
			</div>
		</div>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
					Clothing
				</span>
				<span class="budget">
                                    ${{clothesSpent}}/${{clothesBudg}}
				</span>
			</div>
			<div class="progress round">
                            <span class="meter" style="width: {{clothesPerc}}%"></span>
			</div>
		</div>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
                                    Entertainment
				</span>
				<span class="budget">
                                    ${{enterSpent}}/${{enterBudg}}
				</span>
			</div>
			<div class="progress round">
                            <span class="meter" style="width: {{enterPerc}}%"></span>
			</div>
		</div>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
                                    Other
				</span>
				<span class="budget">
                                    ${{otherSpent}}/${{otherBudg}}
				</span>
			</div>
			<div class="progress round">
                            <span class="meter" style="width: {{otherPerc}}%"></span>
			</div>
		</div>
	</div>
</template>

<template name="modalContainer">
<div style="display:none" id="modal-container">
    {{> modalOverlay}}
<div id="modal" role="dialog">
    <div class="modal-inner">
	{{> modalTransac}}
    </div>
</div>
</div>

</template>

<template name="modalOverlay">
<div id="modal-overlay"></div>
</template>

<template name="modalTransac">
<div class="modal-expense">
    <h2>{{type}}</h2>
    <input type="text" maxlength="2" name="mm" placeholder="mm" style="width:50px"/><input type="text" maxlength="2" placeholder="dd" name="dd" style="width:50px"/><input type="text" maxlength="4" placeholder="yyyy" name="yy"style="width:70px"/>
    <input id="value" type="text" style="width:80px" placeholder = "value"/>
    <select id="category">
    {{#if expenseBool}}
        <option>Food</option>
        <option>Clothing</option>
        <option>Entertainment</option>
        <option>Other</option>
        {{else}}
        <option>Salary</option>
        <option>Bonus</option>
        <option>Gift</option>
    {{/if}}
    </select>
    <input id="description"type="text" placeholder = "description" />
    <div class="button {{type}}">Add</div>
</div>
</template>
