<template name="home">
	{{> header}}
	<ul class="sidenav">
		<li class="active">
			<a href="#"><i class="fa fa-credit-card"></i>Accounts</a>
			<ul class="subnav">
				<li>
					<a href="#">Expenses</a>
				</li>
				<li>
					<a href="#">Savings</a>
				</li>
				<li>
					<a class="add">Add an account</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fa-cog"></i>Settings</a>
		</li>
		<li>
			<a id = "logout" href ="http://moneyinthebank.meteor.com/"><i class="fa fa-sign-out"></i>Logout</a>
		</li>
	</ul>
	<div class="content">
		{{>cardExpenses}}
		{{>cardBudget}}
	</div>
</template>

<template name="cardExpenses">
	<div class="card-expenses">
		<div class="button tiny income"><i class="fa fa-plus"></i>Income</div>
		<div class="button tiny expense"><i class="fa fa-minus"></i>Expense</div>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Info</th>
					<th>Cost</th>
				</tr>
			</thead>
		</table>
	</div>
</template>

<template name="cardBudget">
	<div class="card-budget-test">
		<h4>Budget</h4>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
					Food
				</span>
				<span class="budget">
					$100/$1000
				</span>
			</div>
			<div class="progress round">
				<span class="meter" style="width: 10%"></span>
			</div>
		</div>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
					Clothing
				</span>
				<span class="budget">
					$5000/$10000
				</span>
			</div>
			<div class="progress round">
				<span class="meter" style="width: 50%"></span>
			</div>
		</div>
		<div class="budget-item">
			<div class="progress-label">
				<span class="name">
					Electronics
				</span>
				<span class="budget">
					$0/$50000
				</span>
			</div>
			<div class="progress round">
				<span class="meter" style="width: 0%"></span>
			</div>
		</div>
	</div>
</template>

<template name="modalOverlay">
<div id="modal-overlay"></div>
</template>

<template name="modalLogin">
<div class="modal-login">
    <h1>Welcome Back!</h1>
    <div id="fb-login">
    </div>
    <h3>or</h3>
    Username:
    <input type="text" />
    Password:
    <input type="password" />
    <input type="checkbox" /> Remember me
    <div class="button">Log In!</div>
    Not a member yet? <a>Sign up!</a>
</div>
</template>
