.progress {
	margin: 0;
	padding: 3px;
	height: 20px;
	border: none;
	background-color: #EEE;
	box-shadow: 0px 0px 6px 0px #B4ADAD inset;
	.meter {
		//@include linear-gradient(to bottom, #60B602 0%,#2FA003 115%);
		//border: 1px solid darken($green, 5%);
		background-color: $green;
		font-size: 0.8em;
		line-height: 12px;
		text-align: right;
		color: white;
	}
	.meter-value {
		display: inline-block;
		background-color: gray;
		padding: 3px;
		margin-right: -7px;
		height: 16px;
		border-radius: 2px;
		vertical-align: middle;
	}
}

@mixin home(
	$base-font-size: 14em/16,
	$text-color: gray,
	$hover-bg-color: #F5F5F5, // rgba(51, 51, 51, 0.3)
	$active-border-color: lighten($green, 5%) // earthier color: #C9E000
) {
	.top-bar {
		background: none;
	}

	%card {
		margin-top: 1.61735%;
		padding: 1em;
		border-radius: 1px;
		background-color: $card-bg-color;
		box-shadow: 0px 0px 5px -2px black;
		color: $text-color;
	}

	.sidenav {
		@extend %card;
		margin: 0;
		padding: 0.4em 0;
		font-weight: 300;
		font-size: $base-font-size;

		ul, li, a {
			font-size: inherit;
		}

		li {
			list-style: none;
			&.active > a {
				border-left: 0.3em solid $active-border-color;
				background-color: $hover-bg-color;
			}
		}

		a {
			@include transition(background-color 0.2s);
			display: block;
			padding: 0.7em 1.7em;
			color: inherit;
			line-height: 1.5em;
			&:hover {
				background-color: $hover-bg-color;
			}
			i.fa {
				float: right;
				line-height: inherit;
			}
		}

		// subnav
		// > li > ul
		ul.subnav {
			margin-left: 0;
			a {
				padding: 0.4em;
				padding-left: 2em;
				&:hover {
					background-color: darken($hover-bg-color, 5%);
				}
				&:before {
					@extend .fa-angle-double-right:before;
					@extend .fa;
					width: 1.8em;
					text-align: center;
				}
			}

			a.add:before {
				@extend .fa-plus:before;
			}
		}
	}

	.content {
		padding: 1em 0;
		color: $text-color;
		font-size: $base-font-size;
	}

	.progress-label {
		@include row;

		span {
			@include span-columns(6);
			@include pad(0.4em 0);
		}

		.name {
		}

		.budget {
			color: $green;
			text-align: right;
			font-weight: 600;
		}
	}

	.budget-item {
		margin-bottom: 0.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.card {
		@extend %card;
	}

	.card-expenses {
		@extend %card;
		.button {
			&.expense {
				background-color: $red;
			}
			&.income {
				background-color: $green;
			}
		}
                .red {
                    color: $red;
                }
                .green {
                    color: $green;
                }
	}

	.card-budget-test {
		@extend %card;
	}

	.card-budget {
		@extend %card;

		.circle-left {
			position:absolute;
			right:2.9em;
			margin-top:.75em;
			padding:.25em;
			width:3.5em;
			height:3.5em;
			background-color:white;
			h5 {
				color:red;
			}
		}
		.circle-total {
			position:absolute;
			margin-top:.75em;
			padding:.25em;
			width:3.5em;
			height:3.5em;
			background-color:white;
			h5 {
				color:green;
			}
		}

		.circle {
			width:3em;
			height:3em;
			border:1px solid lightgrey;
			border-radius:1.5em;

			line-height:3em;
		}

		h5 {
			text-align:center;
			font-weight:bold;
			font-size:1.2em;
			line-height:2em;
		}
		hr {
			border-width:1em;
			border-color:green;
		}
	}
}
@include home;
