.login-wrapper {
	height: 100%;
	text-align: center;
	font-size: 0;

	&:before {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		font-size: 0;
	}
	.login {
		display: inline-block;
		padding: 1.4em;
		width: 100%;
		background-color: $card-bg-color;
		vertical-align: middle;
		font-size: 16px;

		h1 {
			font-size: 4em;
		}
	}

	@media only screen and (min-width: 450px) {
		&:before {
			content: '';
		}
		.login {
			margin-top: 0;
			width: 450px;
		}
	}

	#google-login, #fb-login, #github-login {
		@include transition(background-color 0.2s);
		margin-bottom: 0.5em;
		padding: 0.7em;
		border-radius: 3px;
		color: white;
		font-size: 1.5em;
		cursor: pointer;
		&:last-child {
			margin-bottom: 0;
		}
		.fa {
			float: left;
			width: 1em;
		}
	}

	#google-login {
		background-color: #d34332;
		&:hover {
			background-color: darken(#d34332, 5%);
		}
	}

	#fb-login {
		background-color: #3b5998;
		&:hover {
			background-color: darken(#3b5998, 5%);
		}
	}

	#github-login {
		background-color: #444;
		&:hover {
			background-color: darken(#444, 5%);
		}
	}
}

.top-bar-section {
	ul {
		line-height: 45px;
		background: none;
		padding: 0 1.4%;
	}
}

#logout {
	position: static;
	background-color: white;
	color: rgb(46, 46, 46);
	font-weight: 600;
}
