.login {
    position:fixed;
    width:450px;
    height:300px;
    background-color: $bg-color;
    top:50%;
    margin-top:-150px;
    left:50%;
    margin-left:-225px;
    h1 {
        font-size:4em;
        text-align:center;
    }
    #google-login, #fb-login {
        height:74px;
        width:374px;
        margin:0 auto;
        cursor:pointer;
    }
    #google-login {
        background:url('/images/google-base.png') center top ;
        &:hover {
            background:url('/images/google-hover.png') center top ;
        }
        &:active {
            background:url('/images/google-pressed.png') center top ;
        }
    }
    #fb-login {
        margin-top:30px;
        background-size:374px;
        background:url('/images/fb-base.png')  center no-repeat;
        &:active {
            background:url('/images/fb-pressed.png') center no-repeat;
        }
    }
}
